<% if (typeof canConsultUsers === 'undefined') { canConsultUsers = false; } %>
<% if (typeof canDownloadPDF === 'undefined') { canDownloadPDF = false; } %>

<%- include('../includes/head.ejs') %>

<style>
.grafica {
    display: none;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main>
    
    <div class="container mx-auto px-4 py-8">
        <div class="flex">
            <h1 class="text-2xl font-bold mb-6">Gráficas Dinámicas</h1>
        </div>

        <!-- Formulario para seleccionar columnas -->
        <div class="mb-4">
            <form action="/reports" method="post" id="tuFormularioId">
                <% columns.forEach(column => { %>
                    <label class="mr-4">
                        <input type="checkbox" name="columns" value="<%= column.Field %>"> <%= column.Field %>
                    </label>
                <% }); %>
                <!-- Campo oculto para el token CSRF -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Generar Gráfica" class="bg-blue-500 text-white rounded-md px-2 py-1">
            </form>
        </div>

        <br>

        <div class="grafica">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- ... (resto del código de las gráficas) ... -->
            </div>
        </div>
    </div>

</main>
<button class="bg-blue-500 text-white rounded-md px-2 py-1" id="pdf" onclick="downloadPDF()">Generar PDF</button>

<script>
function downloadPDF() {
    window.location.href = '/leads/pdf';
}

document.getElementById('tuFormularioId').addEventListener('submit', function(event) {
    event.preventDefault(); // Evita que el formulario se envíe de inmediato
    document.querySelector('.grafica').style.display = 'block';
    this.submit(); // Envía el formulario después de mostrar las gráficas
});
</script>

<%- include('../includes/foot.ejs') %>
